[submodule "themes/tailbliss"]
	path = themes/tailbliss
	url = git@github.com:nusserstudios/tailbliss
[submodule "themes/adritian"]
	path = themes/adritian
	url = https://github.com/zetxek/adritian-free-hugo-theme.git
[submodule "themes/hugo-product-launch"]
	path = themes/hugo-product-launch
	url = https://github.com/janraasch/hugo-product-launch.git
[submodule "themes/hugo-split-theme"]
	path = themes/hugo-split-theme
	url = git@github.com:escalate/hugo-split-theme.git
[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = git@github.com:devcows/hugo-universal-theme
