{{ if isset .Site.Params "tretti" }}
{{ if .Site.Params.tretti.enable }}
<section class="bar background-image-fixed-3 no-mb color-white text-center">
    <div class="dark-mask"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-uppercase">{{ .Site.Params.tretti.title | markdownify }}</h3>
                <p class="lead">{{ .Site.Params.tretti.subtitle | markdownify }}</p>
                <p class="text-center">
                    {{ with .Site.Params.tretti.link_url }}
                    <a href="{{ . }}" class="btn btn-template-transparent-black btn-lg">
                    {{ end }}
                        {{ with .Site.Params.tretti.link_text }}
                        {{ . | markdownify }}
                        {{ end }}
                    {{ with .Site.Params.tretti.link_url }}
                    </a>
                    {{ end }}
                </p>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
